@font-face {
    font-family: "stratum2-regular";
    src: url("./fonts/stratum2-regular-webfont.eot");
    src: url("./fonts/stratum2-regular-webfont.eot?#iefix") format('embedded-opentype'),
    url("./fonts/stratum2-regular-webfont.woff") format("woff"),
    url("./fonts/stratum2-regular-webfont.ttf") format("truetype"),
    url("./fonts/stratum2-regular-webfont.svg#stratum2-regular") format("svg");
    font-weight: normal;
    font-style: normal;
    }

html {
    /* background: rgb(43, 43, 43); */
    /* background: linear-gradient(30deg, rgba(43, 43, 43, 1) 0%, rgba(100, 110, 112, 1) 100%); */
    background-image: url("./images/background.jpg");
    background-size: cover;
    color: white;
    margin: 0px;
    font-family: stratum2-regular;
}

.top-parent-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.top-parent-text {
    font-style: italic;
    font-size: 20px;
    background-color: rgba(49, 47, 47, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.top-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

.img-box {
    width: 90px;
    height: 68px;
}

.img-flag {
    max-width: 100%;
    max-height: 100%;
}

.img-flag:hover {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.7;
}

.mid-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
    align-items: center;
    align-content: center;
    padding-top: 50px;
}

.mid-img-box {
    width: 200px;
    height: 150px;
    border: 2px dashed rgb(168, 168, 168);
    border-radius: 20px;
    font-size: 130px;
    text-align: center;
    opacity: 0.5;
}

.mid-left-content-parent {
    display: flex;
    flex-direction: column;
}

.mid-right-content-parent {
    display: flex;
    flex-direction: column;
}

.mid-content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}

.mid-content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
}

.mid-frag-text {
    font-size: 80px;
    opacity: 0.5;
}

.mid-text-left {
    text-align: right;
    padding-right: 10px;
}

.bottom-parent {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 140px;
}

.bottom-text {
    text-align: center;
}

.bottom-img-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding-top: 30px;
    padding-bottom: 40px;
}